html {
  --grey: #adadad;
  --lightPurple: #83677B;
  --purple: #64485C;
  --garnet: #501B1D;
  --darkGarnet: #2e1114;
}

main {
  min-height: 80vh;
}

a{
  color: var(--garnet)
}

a:hover{
  color: var(--lightPurple)
}

.list-group-item h3{
  color: var(--darkGarnet);
}

.copyright {
  color: #49274a;
}

.nav-links-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-btn-container{
  display: flex;
}

.login-btn-container i{
  padding-right: 6px;
}

.rating span{
  margin: 0.1rem;
}

.addToCart-btn{
  width:100%;
  padding: 15px;
  margin-top: 15px;
  background-color: var(--garnet);
  border: var(--garnet);
}

.addToCart-btn:hover{
  background-color: var(--purple);
}

.navbar-light .navbar-nav .nav-link{
  color: var(--darkGarnet);
}

.navbar-light .navbar-nav .nav-link:hover{
  color:  #B04656;
}